#footer
{
    //background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 36px;
    line-height: 36px;
    z-index: 9999;
    display: inline-block;
    vertical-align: middle;
}

#footer p
{
    //color: #5E768D;
    font-family: Oxygen, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    height: 100%;
    float: right;
    padding-right: 0.5em;
}

#social-media
{
    position: absolute;
    height: 100%;
}

.social-container
{
    position: relative;
    display: inline-block;
}

.fa
{
    font-size: 18px;
    height: 36px;
    width: 36px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
}

.fa:hover
{
    opacity: 0.5;
}

.fa-facebook
{
    color: #3B5998;
}

.fa-instagram
{
    color: #125688;
}

.fa-github
{
    color: #4078c0;
}

.fa-linkedin
{
    color: #007bb5;
}