/* ---------------------------------------------------------------- */
/* Setup */
/* ---------------------------------------------------------------- */

*
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html
{
  font-size: 18px;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  text-align: justify;
}

body
{
  overflow: hidden;
}

.row
{
  width: 1140px;
  margin: 0 auto;
}

section
{
  padding: 60px 0;
}

section:nth-child(even)
{
  background-color: #fafafa;
}

.clearfix:after
{
  display: block;
  content: '.';
  visibility: hidden;
  height: 0;
  clear: both;
}

/* ---------------------------------------------------------------- */
/* Reused Components */
/* ---------------------------------------------------------------- */

h1
{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 400%;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ddd;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

h1:after
{
  display: block;
  content: "";
  width: 120px;
  height: 2px;
  background-color: #2ecc71;
  margin: 0 auto;
  margin-top: 6px;
}

h2
{
  display: inline-block;
  font-family: 'Oxygen';
  font-weight: 900;
  font-size: 200%;
  margin-bottom: 20px;
}

h2:after
{
  display: block;
  content: "";
  width: 50px;
  height: 2px;
  background-color: #2ecc71;
  margin-top: 5px;
}

h3
{
  font-family: 'Oxygen';
  font-size: 150%;
  margin-bottom: 10px;
}

h4
{
  display: inline-block;
  font-family: 'Oxygen';
  font-weight: 900;
  font-size: 100%;
  margin-bottom: 10px;
  margin-left: 20px;
}

p
{
  line-height: 150%;
  font-size: 90%;
}

/* ---------------------------------------------------------------- */
/* Nav Bar */
/* ---------------------------------------------------------------- */

nav
{
  position: fixed;
  top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 100vw;
  z-index: 9999;
}

.nav-desktop
{
  background-color: #fff;
  -webkit-box-shadow: 0 4px 0px rgb(245, 245, 245);
          box-shadow: 0 4px 0px rgb(245, 245, 245);
  width: 100%;
  height: 60px;
  z-index: 1;
}

nav a
{
  text-decoration: none;
  color: black;
}

.header-name:link, .header-name:visited
{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 200%;
  vertical-align: middle;
  float: left;
  padding: 10px 14px;
  padding-bottom: 9px;
  margin-left: 20px;
  border-bottom: 4px solid #dff8ea;
  -webkit-transition: border-bottom-color 0.3s;
  transition: border-bottom-color 0.3s;
}

.nav-buttons
{
  text-decoration: none;
  list-style: none;
  height: 100%;
}

.nav-buttons li a:link, .nav-buttons li a:visited
{
  display: block;
  float: right;
  font-size: 80%;
  height: 60px;
  line-height: 150%;
  padding: 20px 14px;
  padding-bottom: 40px;
  margin-right: 20px;
  border-bottom: 4px solid #dff8ea;
  -webkit-transition: border-bottom-color 0.3s;
  transition: border-bottom-color 0.3s;
}

.nav-buttons li a:hover, .nav-buttons li a:active, .header-name:hover, .header-name:active
{
  border-bottom: 4px solid #2ecc71;
}

/* ---- Mobile Nav ---- */

.nav-mobile { display: none; }

.menu-button
{
  position: absolute;
  font-size: 120%;
  right: 0;
  margin: 20px;
  top: 0;
}

.nav-mobile-buttons
{
  position: absolute;
  list-style: none;
  clear: left;
  float: left;
  background-color: rgb(245, 245, 245);
  top: -120px;
  width: 100%;
  height: auto;
  z-index: -1;
}

.nav-mobile-buttons li a:link, .nav-mobile-buttons li a:visited
{
  display: block;
  float: none;
  margin: 0;
  border-bottom: 0;
  padding: 8px 10px;
  margin: 20px 12px;
  border-left: 4px solid #dff8ea;
  -webkit-transition: border-bottom-color 0.3s;
  transition: border-bottom-color 0.3s;
}

/* ---------------------------------------------------------------- */
/* Header */
/* ---------------------------------------------------------------- */

header
{
  display: block;
  background-image: url("./img/background.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.darken
{
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

/* ---------------------------------------------------------------- */
/* Bio */
/* ---------------------------------------------------------------- */

.bio
{
  padding-bottom: 60px;
}

.portrait
{
  width: 200px;
  height: auto;
  float: left;
  border-radius: 50%;
  margin-right: 60px;
}

/* ---------------------------------------------------------------- */
/* Projects */
/* ---------------------------------------------------------------- */

.project
{
  line-height: 150%;
  margin-bottom: 40px;
}

.project:last-child { margin-bottom: 0; }

.project a
{
  width: 200px;
  float: right;
  margin-left: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.project a img
{
  width: 100%;
  height: auto;
}

.project a i
{
  font-size: 1000%;
  color: #6e5494;
}

.project a *
{
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.project a *:hover, .project a *:active
{
  opacity: 0.5;
}

/* ---------------------------------------------------------------- */
/* Footer */
/* ---------------------------------------------------------------- */

footer
{
  display: block;
  background-image: url("./img/background.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

footer .darken
{
  padding: 40px 0;
}

.contact-info
{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  list-style: none;
}

.contact-info li
{
  line-height: 150%;
  font-size: 90%;
}

.icon-small
{
  font-size: 120%;
  line-height: 120%;
  vertical-align: middle;
  margin: 10px;
  margin-right: 20px;
  margin-left: 13px;
}

.contact-info a:link, .contact-info a:visited
{
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.contact-info a:hover, .contact-info a:active
{
  color: rgb(182, 182, 182);
}