/* ---------------------------------------------------------------- */
/* Layout */
/* ---------------------------------------------------------------- */

.math-main
{
  padding: 0;
  height: 100vh;
}

.math-main .row
{
  padding: 100px 10px;
  padding-bottom: 40px;
  height: 100%;
}

.math-nav, .math-content
{
  display: block;
  height: 100%;
}

.math-nav
{
  float: left;
  margin-top: 4px;
  width: 20%;
}

.math-content
{
  float: right;
  width: 80%;
  line-height: 150%;
  padding: 0px 20px;
  padding-bottom: 40px;
  overflow-y: scroll;
}

/* ---------------------------------------------------------------- */
/* Nav */
/* ---------------------------------------------------------------- */

.math-nav { font-size: 80%; }

.math-links
{
  list-style: none;
}

.math-links li a:link, .math-links li a:visited
{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: black;
  height: 100%;
  padding: 4px 10px;
  border-left: 4px solid #dff8ea;
  -webkit-transition: border-left-color 0.3s;
  transition: border-left-color 0.3s;
}

.math-links li a:hover, .math-links li a:active
{
  border-left-color: #2ecc71;
}

.expand-topics
{
  display: block;
  margin-bottom: 10px;
}

.sub-links
{
  display: none;
  list-style: none;
  margin: 0px 25px;
  margin-right: 0;
  overflow-y: hidden;
}

.sub-links li
{
  padding: 4px 0;
  padding-bottom: 14px;
  overflow-x: auto;
}

.sub-links li a
{
  white-space: pre;
}