
.screen
{
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    left: -100%;
}

.body
{
    position: absolute;
    min-width: 600px;
    top: 64px;
    bottom: 36px;
    width: 100%;
    padding: 0 1em;
}

.left-side
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30vw;
}

.text
{
    display: block;
    position: absolute;
    top: 20%;
}

headline
{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24pt;
    line-height: 24pt;
}

.text p
{
    width: 100%;
    margin-bottom: 1em;
}

.right-side
{
    position: relative;
    left: 30vw;
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about
{
    background-color: #A1C4A9;
    left: 0%;
}

#portrait
{
    position: absolute;
    height: 90%;
    width: auto;
    max-height: 750px;
    max-width: 750px;
}

#me
{
    height: 100%;
}

#troll
{
    position: absolute;
    background-color: black;
    left: 52%;
    top: 48%;
    width: 3%;
    height: 4%;
    z-index: 99;
}

#skills
{
    background-color: #F7E8F0;
}

p.skill-name
{
    color: white;
    background-color: black;
    font-size: 16pt;
    width: 20vw;
    text-align: right;    
    padding: 0.125em 0.5em 0.125em 0em;
    margin-top: 0.5em;
    margin-bottom: 0;
    transition: 0.25s;
}

p.skill-name:hover
{
    transform: scale(1.5);
    cursor: pointer;
}

.skill-screen
{
    position: absolute;
    color: black;
    background-color: white;
    margin-top: -1000px;
    height: 70%;
    width: 30vw;
    z-index: 10;
    border-style: double;
    border-color: white;
    border-radius: 12px;
    overflow-y: scroll;
    display: hidden;
}

.skill-screen img
{
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    padding: 2em 0;
}

.skill-screen > p
{
    width: 85%;
    margin: auto;
    margin-bottom: 1em;
}

p a
{
    text-decoration: none;
    color: #5E768D;
}

p a:hover
{
    opacity: 0.5;
    cursor: pointer;
}

#test2
{
    background-color: #99CBE8;
}

@media screen and (max-width: 900px)
{   
    headline
    {
        font-size: 20pt;
    }
    
    .text
    {
        top: 10%;
    }
    
    #portrait
    {
        height: 50%;
    }
    
    .skill-screen
    {
        width: 70%;
    }
}

@media screen and (max-width: 600px)
{
    .left-side
    {
        width: 40vw;
    }
    
    p.skill-name
    {
        font-size: 10pt;
        padding: 0.25em 0.75em 0.25em 0em;
        width: 30vw;
    }
    
    .right-side
    {
        width: 60vw;
        left: 40vw;
    }
    
    #portrait
    {
        height: 40%;
    }
}