/* ---------------------------------------------------------------- */
/* Setup */
/* ---------------------------------------------------------------- */

*
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html
{
  font-size: 18px;
  font-family: 'Merriweather', serif;
}

.row
{
  width: 1140px;
  margin: 0 auto;
}

section
{
  padding: 60px 0;
}

.clearfix:after
{
  display: block;
  content: '.';
  visibility: hidden;
  height: 0;
  clear: both;
}

/* ---------------------------------------------------------------- */
/* Reused Components */
/* ---------------------------------------------------------------- */

.main {
  position: relative;
  height: 100%;
  width: 100%;
}

h1
{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 400%;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ddd;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

h1:after
{
  display: block;
  content: "";
  width: 120px;
  height: 2px;
  background-color: #2ecc71;
  margin: 0 auto;
  margin-top: 6px;
}

h2
{
  display: inline-block;
  font-family: 'Oxygen';
  font-weight: 900;
  font-size: 200%;
  margin-bottom: 10px;
}

h2:after
{
  display: block;
  content: "";
  width: 50px;
  height: 2px;
  background-color: #2ecc71;
  margin-top: 5px;
}

h3
{
  font-family: 'Oxygen';
  font-size: 150%;
  margin-bottom: 10px;
}

p
{
  line-height: 145%;
}

/* ---------------------------------------------------------------- */
/* Header */
/* ---------------------------------------------------------------- */

header
{
  display: block;
  background-image: url("./img/background.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.main
{
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

nav
{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #fff;
  padding: 0 20px;
  z-index: 9999;
}

nav a
{
  text-decoration: none;
  color: black;
}

.header-name
{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 200%;
  vertical-align: middle;
  float: left;
  padding-top: 10px;
}

.nav-buttons
{
  font-family: 'Roboto', sans-serif;
  list-style: none;
  padding-top: 19px;
}

.nav-buttons li a:link, .nav-buttons li a:visited
{
  text-decoration: none;
  font-size: 80%;
  float: right;
  padding: 0 14px;
  padding-top: 4px;
  padding-bottom: 17px;
  margin-left: 12px;
  color: rgb(43, 43, 43);
  border-bottom-color: #fff;
  -webkit-transition: border-bottom-color 0.3s;
  transition: border-bottom-color 0.3s;
}

.nav-buttons li a:hover, .nav-buttons li a:active
{
  border-bottom: 4px solid #2ecc71;
}

/* ---------------------------------------------------------------- */
/* Bio */
/* ---------------------------------------------------------------- */

.bio
{
  background-color: #fafafa;
  padding-bottom: 60px;
}

.portrait
{
  width: 200px;
  height: auto;
  float: left;
  border-radius: 50%;
  margin-right: 60px;
}

/* ---------------------------------------------------------------- */
/* Projects */
/* ---------------------------------------------------------------- */

.project
{
  line-height: 145%;
  margin-bottom: 40px;
}

.project a
{
  width: 200px;
  float: right;
  margin-left: 40px;
  text-align: center;
}

.project a img
{
  width: 100%;
  height: auto;
}

.project a i
{
  font-size: 1000%;
  color: #6e5494;
}

.project a *
{
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.project a *:hover, .project a *:active
{
  opacity: 0.5;
}

/* ---------------------------------------------------------------- */
/* Footer */
/* ---------------------------------------------------------------- */

footer
{
  width: 100%;
  background-color: #fafafa;
  padding: 60px 0;
}

.contact-info
{
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.contact-info li
{
  line-height: 145%;
  font-size: 100%;
}

.icon-small
{
  font-size: 120%;
  line-height: 120%;
  vertical-align: middle;
  color: #2ecc71;
  margin: 10px;
  margin-right: 20px;
  margin-left: 13px;
}

.contact-info a:link, .contact-info a:visited
{
  text-decoration: none;
  color: #000;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.contact-info a:hover, .contact-info a:active
{
  color: rgb(131, 131, 131);
}