*
{
    margin: 0;
    padding: 0;
}

html, body
{
    font-family: "Slabo 27px", serif;
    font-size: 16pt;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#header
{
    background-color: white;
    color: #5E768D;
    position: fixed;
    width: 100%;
    height: 64px;
    clear: both;
    z-index: 9999;
}

#navbar h1, #navbar p, #navbar span
{
    font-family: Oxygen, sans-serif;
    line-height: 200pt;
    vertical-align: middle;
    display: inline-block;
    line-height: 64px;
}

#navbar h1
{
    font-size: 32px;
    letter-spacing: 2pt;
    font-weight: 600;
    width: 300px;
    text-align: left;
    padding-left: 0.5em;
}

#navbar span
{
    float: right;
    padding-right: 0.5em;
}

#nav a
{
    font-family: Oxygen, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #5E768D;
    font-size: 14px;
    width: 100px;
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
    margin: 0 10px;
    padding: 0.125em 0.5em;
    border-width: 0.5px 0;
}

#nav a:hover
{
    border-style: solid;
    cursor: pointer;
}

.nav-arrow
{
    width: 18px;
    height: auto;
}

.nav-arrow:hover
{
    cursor: pointer;
    opacity: 0.5;
}

#footer
{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 36px;
    line-height: 36px;
    z-index: 9999;
    display: inline-block;
    vertical-align: middle;
}

#footer p
{
    color: #5E768D;
    font-family: Oxygen, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    height: 100%;
    float: right;
    padding-right: 0.5em;
}

#social-media
{
    position: absolute;
    height: 100%;
}

.social-container
{
    position: relative;
    display: inline-block;
}

.fa
{
    font-size: 18px;
    height: 36px;
    width: 36px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa:hover
{
    opacity: 0.5;
}

.fa-facebook
{
    color: #3B5998;
}

.fa-instagram
{
    color: #125688;
}

.fa-github
{
    color: #4078c0;
}

.fa-linkedin
{
    color: #007bb5;
}

.screen
{
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    left: -100%;
}

.body
{
    position: absolute;
    min-width: 600px;
    top: 64px;
    bottom: 36px;
    width: 100%;
    padding: 0 0.5em;
}

.left-side
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30vw;
}

.text
{
    position: absolute;
    top: 20%;
}

.text h
{
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 24pt;
    line-height: 24pt;
}

.text p
{
    width: 100%;
}

@media screen and (max-width: 480px)
{
    .text h
    {
        font-size: 16pt;
        line-height: 16pt;
    }
    
    .text p
    {
        font-size: 12pt;
        line-height: 12pt;
    }
}

.right-side
{
    position: relative;
    left: 30vw;
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#education
{
    background-color: #A1C4A9;
    left: 0%;
}

#portrait
{
    position: relative;
    width: 90%;
    max-width: 750px;
    line-height: 0;
}

#me
{
    width: 100%;
}

#troll
{
    position: absolute;
    left: 52%;
    top: 48%;
    width: 3%;
    height: 4%;
}

#test
{
    background-color: #F7E8F0;
}

#test2
{
    background-color: #99CBE8;
}