@media only screen and (max-width: 800px)
{
  .math-main
  {
    padding-bottom: 60px;
    min-height: 100vh;
    height: auto;
  }
  
  .math-main .row
  {
    padding: 0px 10px;
  }

  .math-nav { font-size: 100%; }

  .math-nav, .math-content
  {
    float: none;
    padding: 0px 20px;
    width: 100%;
    overflow-x: scroll;
  }

  .math-nav
  {
    position: relative;
    padding: 0px 20px;
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .footnote::before { width: 100% }

  ol, .algorithm { margin: 20px 20px }

  #neural-network-1 { width: 100% }
  #neural-network-2 { width: 100% }
}