/* ---------------------------------------------------------------- */
/* Layout */
/* ---------------------------------------------------------------- */

.math-main
{
  padding: 0;
  min-height: 100vh;
}

.math-main .row
{
  padding: 100px 10px;
  padding-bottom: 0px;
  height: 100%;
}

.math-nav, .math-content { display: block; }

.math-nav
{
  position: fixed;
  float: left;
  margin-top: 4px;
  width: 20%;
}

.math-content
{
  float: right;
  width: 80%;
  font-size: 12pt;
  line-height: 150%;
  padding: 0px 20px;
  padding-bottom: 40px;
  overflow-y: auto;
}

/* ---------------------------------------------------------------- */
/* Nav */
/* ---------------------------------------------------------------- */

.math-nav { font-size: 80%; }
.math-links { list-style: none; }

.math-links li
{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: black;
  line-height: 150%;
  height: 100%;
  padding: 4px 12px;
  margin: 8px 0;
  border-left: 4px solid #dff8ea;
  -webkit-transition: border-left-color 0.3s;
  transition: border-left-color 0.3s;
}

.math-links li:hover { border-left-color: #2ecc71; }
.math-links li:first-child { margin-top: 0; }
.math-links li a { color: black; }

.sub-links
{
  display: none;
  list-style: none;
  margin: 4px 0px;
  margin-top: 8px;
  margin-right: 0;
}

.sub-links li
{
  list-style-position: inside;
  height: auto;
  padding: 4px 12px;
  padding-right: 0;
}

.sub-links li:last-child { margin-bottom: 0; }

/* ---------------------------------------------------------------- */
/* Miscellaneous */
/* ---------------------------------------------------------------- */

p
{
  margin: 10px 0;
  font-size: 12pt;
}

.footnote
{
  font-size: 9pt;
  color: gray;
}

.footnote::before
{
  display: block;
  content: "";
  width: 40%;
  max-width: 100%;
  height: 4px;
  border-top: 1px solid gray;
  margin-top: 20px;
}

ol, .algorithm { margin: 20px 40px }

img
{
  margin: 20px auto;
  display: block;
}

/* ---------------------------------------------------------------- */
/* Neural Network Styling */
/* ---------------------------------------------------------------- */

#neural-network-1 { width: 80% }
#neural-network-2 { width: 30% }